**To - Do - Task**

3.1	Warm Up Exercises:
1. Sorting and Subsetting:
Complete all following Task:

• Dataset for the Task: "titanic.csv"
Following task is common for all the problem:
1.	Load the provided dataset and import in pandas DataFrame.
2.	Check info of the DataFrame and identify following:
**Problem 1 - Sorting:**
1.	Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the head of the result.
2.	Create a DataFrame called class  age that contains only the Pclass and Age columns of the Titanic dataset, in that order. Print the head of the result.
3.	Create a DataFrame called survived gender that contains the Survived and Sex columns of the Titanic dataset, in that order.Print the head of the result.

In [1]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv("/content/drive/MyDrive/Titanic-Dataset.csv")

# Task 1: Create a DataFrame called 'fare' containing only the 'Fare' column
fare = df[['Fare']]
print("Fare DataFrame:")
print(fare.head())

# Task 2: Create a DataFrame called 'class_age' containing 'Pclass' and 'Age' columns
class_age = df[['Pclass', 'Age']]
print("\nClass and Age DataFrame:")
print(class_age.head())

# Task 3: Create a DataFrame called 'survived_gender' containing 'Survived' and 'Sex' columns
survived_gender = df[['Survived', 'Sex']]
print("\nSurvived and Gender DataFrame:")
print(survived_gender.head())

Fare DataFrame:
      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

Class and Age DataFrame:
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

Survived and Gender DataFrame:
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

**Problem - 2 - Subsetting:**

Complete all the following Task:
Subsetting Rows:
1.	Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it to fare gt 100.View the printed result.

In [2]:
# Filter the Titanic dataset for passengers whose fare is greater than 100
fare_gt_100 = df[df['Fare'] > 100]

# Print the result
print("Passengers with Fare greater than 100:")
print(fare_gt_100.head())

Passengers with Fare greater than 100:
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

2.	Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to first class.View the printed result.

In [3]:
# Filter the Titanic dataset for passengers whose class (Pclass) is 1
first_class = df[df['Pclass'] == 1]

# Print the result
print("\nPassengers in First Class:")
print(first_class.head())

Passengers in First Class:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

3.	Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger is female (Sex is "female"), assigning it to female under 18. View the printed result.

In [4]:
# Filter the Titanic dataset for passengers under 18 and female
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female')]

# Print the result
print("\nFemale passengers under 18:")
print(female_under_18.head())

Female passengers under 18:
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

**Subsetting Rows by Categorical variables:**
1.	Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S" (Southampton), assigning the result to embarked c  or s. View the printed result.

In [5]:
# Filter the Titanic dataset for passengers who embarked at 'C' or 'S'
embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])]

# Print the result
print("\nPassengers who embarked at 'C' or 'S':")
print(embarked_c_or_s.head())

Passengers who embarked at 'C' or 'S':
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

2.	Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first or second class), assigning the result to first second class.View the printed result.

In [6]:
# Filter the Titanic dataset for passengers in Pclass 1 or 2
first_second_class = df[df['Pclass'].isin([1, 2])]

# Print the result
print("\nPassengers in First or Second Class:")
print(first_second_class.head())

Passengers in First or Second Class:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S